body {
    background-image: url('../imgs/e.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    /* sombra escura */
    background-color: rgba(0, 0, 0, 0.6); 
    background-blend-mode: darken;
    color: white;
}
